@charset "UTF-8";
/* CSS Document */

body{
	background-color:#2E543C;
	font-family: "Helvetica Neue";
}

strong{
	font-size: 60px;
	color: #FFF1E4;
	margin-left: 10%;
	margin-top: 0px;
	}

p{
	font-size: 15px;
	font-weight: lighter;
	color: #C1FFC8;
	text-decoration: none;
	margin-top: 75px;
	margin-left: 33%;
}


a{
	font-size: 18px;
	font-weight: 350;
	color: #C1FFC8;
	text-decoration: none;
	margin-top: 100px;
}

h1{
	font-size: 18px;
	font-weight: 300;
	color: #C1FFC8;
	text-decoration: none;
	margin-top: 50px;
	margin-left: 14.70%;
}

h2{
	font-size: 18px;
	font-weight: 300;
	color: #C1FFC8;
	text-decoration: none;
	margin-left: 14.70%;
}

h3{
	font-size: 18px;
	font-weight: 300;
	color: #C1FFC8;
	text-decoration: none;
	margin-left: 14.70%;
}
